<ion-content [fullscreen]="true" [class.dark-theme]="darkTheme" [class.light-theme]="!darkTheme">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Configuraciones
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <br>

  <ion-item>
    <ion-select label="Tamaño de letra" placeholder="Seleccione una opción" (ionChange)="seleccionarGrosorLetra($event)">
      <ion-select-option value="normal">Normal</ion-select-option>
      <ion-select-option value="grande">Grande</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-select label="Versión" placeholder="Seleccione una opción" (ionChange)="seleccionarVersion($event)">
      <ion-select-option value="rv">Reina Valera 1960</ion-select-option>
      <ion-select-option value="nvi">Nueva versión internacional</ion-select-option>
    </ion-select>
  </ion-item>
  
  <!--ion-item>
    <ion-toggle (ionChange)="changeTheme($event)">Tema</ion-toggle>
  </ion-item-->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <span>Versión: 2024.04 - By SG </span>
  </ion-fab>

</ion-content>
